.header-divider {
  height: 100%;
  width: 1671px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -117px;
  border-radius: var(--br-8xl);
  background-color: var(--color-powderblue);
}
.inicio {
  width: 88px;
  flex-shrink: 0;
}
.inicio,
.precios,
.producto {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  z-index: 1;
}
.producto {
  width: 140px;
  flex-shrink: 0;
}
.precios {
  width: 128px;
}
.pricing {
  width: 156px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contactanos {
  text-decoration: none;
  width: 218px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.navigation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 80px 298px 56px 666px;
  position: relative;
  gap: 61px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.kmoneta-tu-herramientas {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.empieza-a-utilizar {
  width: 466px;
  position: relative;
  font-size: var(--font-size-11xl);
  display: inline-block;
  max-width: 100%;
}
.hero-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 33px;
  max-width: 100%;
}
.hero-button-container-child {
  height: 82px;
  width: 310px;
  position: relative;
  border-radius: var(--br-20xl);
  background-color: var(--color-goldenrod-200);
  display: none;
}
.comienza-ahora {
  width: 218px;
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.hero-button-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xl) 42px;
  background-color: var(--color-goldenrod-200);
  flex: 1;
  border-radius: var(--br-20xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero-button-container:hover {
  background-color: #c78f00;
}
.hero-button,
.hero-content,
.hero-title-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hero-button {
  width: 400px;
  flex-direction: row;
  padding: 0 45px;
  box-sizing: border-box;
}
.hero-content,
.hero-title-parent {
  flex-direction: column;
}
.hero-title-parent {
  align-self: stretch;
  gap: 38px;
  flex-shrink: 0;
}
.hero-content {
  width: 648px;
  padding: 0 0 90px;
  box-sizing: border-box;
}
.image-icon {
  margin-left: -20px;
  width: 750px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  max-width: 103%;
}
.hero-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.logo-kmoneta-1-icon {
  height: 221px;
  width: 311px;
  position: absolute;
  margin: 0 !important;
  top: -196px;
  left: -9px;
  object-fit: cover;
  z-index: 1;
}
.hero {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 124px;
  box-sizing: border-box;
  position: relative;
  row-gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 50px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.image-icon1,
.image-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 492px;
  height: 380px;
  object-fit: cover;
}
.image-icon2 {
  top: 368px;
  left: 121px;
  width: 596px;
  height: 357px;
  z-index: 1;
}
.feature-cards {
  height: 725px;
  position: relative;
  min-width: 717px;
  max-width: 100%;
}
.k-moneta-ofrece,
.k-moneta-simplifica {
  width: 745px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.k-moneta-ofrece {
  width: 626px;
  flex-shrink: 0;
}
.feature-subtitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.k-moneta-simplifica-la-gesti-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 197px;
}
.feature-description,
.features,
.features-content,
.k-moneta-simplifica-la-gesti-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.feature-description {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0 0;
  box-sizing: border-box;
  min-width: 521px;
  margin-left: -143px;
}
.features,
.features-content {
  flex-direction: row;
}
.features-content {
  flex: 1;
  justify-content: flex-start;
  row-gap: 20px;
}
.features {
  width: 1406px;
  justify-content: flex-end;
  padding: 0 15px 198px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.plans-container-child {
  width: 415px;
  height: 555px;
  position: relative;
  border-radius: var(--br-smi);
  background-color: var(--color-goldenrod-200);
  display: none;
  max-width: 100%;
}
.plan-items-child,
.plan-items-item {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0.27px;
  bottom: 0.9px;
  left: 1.33px;
  border-radius: var(--br-10xs);
  background-color: var(--color-goldenrod-100);
  transform: rotate(0.1deg);
  transform-origin: 0 0;
  z-index: 1;
}
.plan-items-item {
  z-index: 2;
}
.image-1-icon {
  width: 219px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  z-index: 3;
}
.basic-3 {
  margin: 0 !important;
  width: 302px;
  position: absolute;
  right: -18.9px;
  bottom: 181.8px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 3;
}
.funciones-basicas {
  flex: 1;
  position: relative;
  z-index: 3;
}
.basic-feature-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.inventario-basico-limitado {
  position: relative;
  z-index: 3;
}
.basic-feature-name {
  flex: 1;
  flex-direction: column;
  gap: 29px;
}
.basic-feature-name,
.basic-features,
.plan-items,
.plans-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.basic-features {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 6px;
  font-size: var(--font-size-6xl);
}
.plan-items,
.plans-container {
  flex-direction: column;
}
.plan-items {
  align-self: stretch;
  padding: 12px var(--padding-33xl) var(--padding-19xl-8) 63px;
  position: relative;
  gap: 103.4px;
}
.plans-container {
  flex: 0.8602;
  border-radius: var(--br-smi);
  background-color: var(--color-goldenrod-200);
  padding: var(--padding-3xl) var(--padding-9xl) 23.2px var(--padding-11xl);
  box-sizing: border-box;
  min-width: 311px;
  max-width: 100%;
}
.frame-child,
.plans-container-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.plans-container-item {
  left: 0;
  background-color: var(--color-goldenrod-200);
  display: none;
}
.frame-child {
  margin: 0 !important;
  right: 0.07px;
  bottom: 0.9px;
  left: 1.33px;
  border-radius: var(--br-10xs);
  background-color: var(--color-goldenrod-100);
  transform: rotate(0.1deg);
  transform-origin: 0 0;
  z-index: 1;
}
.plus6 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.plus-feature-name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xl);
}
.blank-line {
  margin: 0;
}
.funciones-avanzadas {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-6xl);
  z-index: 2;
}
.plus-features,
.plus-features-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.plus-features {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.plus-features-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xl) 0 var(--padding-9xl);
}
.inventario-plus-capacidad {
  position: relative;
  font-size: var(--font-size-6xl);
  z-index: 2;
}
.rectangle-parent {
  position: absolute;
  top: 19px;
  left: 36px;
  width: 356.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 276px var(--padding-11xs) var(--padding-19xl-8) var(--padding-7xl);
  box-sizing: border-box;
  gap: 1px;
}
.image-3-icon {
  position: absolute;
  top: 5px;
  left: 23px;
  width: 390px;
  height: 294px;
  object-fit: cover;
  z-index: 3;
}
.plans-container1,
.premium-plan-child {
  position: relative;
  background-color: var(--color-goldenrod-200);
  max-width: 100%;
}
.plans-container1 {
  height: 555px;
  flex: 1;
  min-width: 311px;
}
.premium-plan-child {
  width: 415px;
  height: 562px;
  display: none;
  z-index: 1;
}
.image-2-icon {
  height: 262px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.premium-feature-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
}
.todas-las-funciones {
  flex: 1;
  position: relative;
  z-index: 2;
}
.inventario-extendido-cantidad {
  width: 272px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.premium-feature-name,
.premium-features {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.premium-feature-name {
  gap: var(--gap-base);
}
.premium-features {
  padding: 19px 1px 17.8px var(--padding-29xl);
  position: relative;
  gap: 75px;
}
.premiun12 {
  margin: 0;
  width: 371px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 121%;
  z-index: 2;
}
.premium-feature-name-container,
.premium-plan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.premium-feature-name-container {
  flex-direction: row;
  padding: 0 0 0 var(--padding-29xl);
  margin-top: -220.8px;
  font-size: var(--font-size-26xl);
}
.premium-plan {
  flex: 0.8602;
  background-color: var(--color-goldenrod-200);
  flex-direction: column;
  padding: var(--padding-6xl) var(--padding-3xl) 27.2px 36px;
  min-width: 311px;
  min-height: 562px;
  font-size: var(--font-size-6xl);
}
.plans,
.pricing-plans {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.plans {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 44px;
}
.pricing-plans {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 54px 159px var(--padding-34xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.contactanos1,
.image-icon3 {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.image-icon3 {
  height: 649px;
  overflow: hidden;
  object-fit: cover;
  min-width: 487px;
}
.contactanos1 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.contact-title {
  width: 378px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.si-necesitas-realizar-container {
  position: relative;
  font-size: var(--font-size-11xl);
}
.contact-details,
.contact-title-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-title-parent {
  align-self: stretch;
  gap: 25px;
}
.contact-details {
  width: 466px;
  padding: 9px 0 0;
  box-sizing: border-box;
}
.contact-content {
  flex-direction: row;
  align-items: flex-start;
  gap: 78px;
}
.contact,
.contact-content,
.navigation-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.contact {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 68px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.navigation-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
}
.logo-kmoneta-2-icon {
  width: 311px;
  height: 221px;
  position: absolute;
  margin: 0 !important;
  bottom: -15px;
  left: 68px;
  object-fit: cover;
  z-index: 1;
}
.footer-divider {
  height: calc(100% - 824px);
  width: 1671px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 824px;
  left: -116px;
  border-radius: var(--br-8xl);
  background-color: var(--color-powderblue);
}
.inicio1 {
  width: 88px;
  flex-shrink: 0;
}
.inicio1,
.precios1,
.producto1 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.producto1 {
  width: 140px;
  flex-shrink: 0;
}
.precios1 {
  width: 128px;
}
.footer-pricing {
  width: 156px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.contactanos2 {
  width: 218px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.footer-navigation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 77px var(--padding-33xl) 747px 603px;
  box-sizing: border-box;
  position: relative;
  min-height: 1014px;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.footer-background {
  margin-right: -22px;
  width: 1541px;
  height: 151px;
  position: relative;
  border-radius: var(--br-8xl);
  background-color: #d9d9d9;
  flex-shrink: 0;
  max-width: 108%;
}
.desktop-1 {
  width: 100%;
  height: 3500px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 72px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1325px) {
  .hero-content {
    flex: 1;
  }
  .image-icon {
    align-self: stretch;
    width: auto;
  }
  .hero-image {
    flex: 1;
  }
  .hero {
    flex-wrap: wrap;
  }
  .feature-cards {
    flex: 1;
  }
  .feature-description {
    margin-left: 0;
  }
  .features-content,
  .plans {
    flex-wrap: wrap;
  }
  .contact-details {
    flex: 1;
  }
  .contact-content,
  .footer-navigation {
    flex-wrap: wrap;
  }
  .desktop-1 {
    height: auto;
  }
}
@media screen and (max-width: 1125px) {
  .k-moneta-simplifica-la-gesti-parent {
    gap: 98px;
  }
  .features,
  .footer-navigation {
    padding-bottom: 129px;
    box-sizing: border-box;
  }
  .footer-navigation {
    padding-top: 50px;
    padding-bottom: 486px;
  }
}
@media screen and (max-width: 800px) {
  .navigation {
    display: none;
    gap: 30px;
    padding-left: 333px;
    padding-right: 149px;
    box-sizing: border-box;
  }
  .kmoneta-tu-herramientas {
    font-size: 40px;
  }
  .empieza-a-utilizar {
    font-size: var(--font-size-5xl);
  }
  .hero-title {
    gap: var(--gap-base);
  }
  .hero-title-parent {
    gap: var(--gap-lgi);
  }
  .hero-content {
    padding-bottom: 58px;
    box-sizing: border-box;
  }
  .hero-content,
  .hero-image {
    min-width: 100%;
  }
  .hero {
    padding-bottom: 81px;
    box-sizing: border-box;
  }
  .feature-cards {
    min-width: 100%;
  }
  .k-moneta-ofrece,
  .k-moneta-simplifica {
    font-size: var(--font-size-5xl);
  }
  .feature-description {
    min-width: 100%;
  }
  .basic-3 {
    font-size: var(--font-size-17xl);
  }
  .plan-items,
  .plans-container {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .plans-container {
    padding-bottom: var(--padding-xl);
  }
  .plus6,
  .premiun12 {
    font-size: var(--font-size-17xl);
  }
  .plans {
    gap: 22px;
  }
  .pricing-plans {
    padding-left: var(--padding-7xl);
    padding-right: 27px;
    padding-bottom: 103px;
    box-sizing: border-box;
  }
  .image-icon3 {
    min-width: 100%;
  }
  .contactanos1 {
    font-size: var(--font-size-17xl);
  }
  .si-necesitas-realizar-container {
    font-size: var(--font-size-5xl);
  }
  .contact-details {
    min-width: 100%;
  }
  .contact-content {
    gap: 39px;
  }
  .contact {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .contactanos2,
  .inicio1,
  .precios1,
  .producto1 {
    font-size: var(--font-size-5xl);
  }
  .footer-navigation {
    padding-left: 301px;
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: 36px;
  }
}
@media screen and (max-width: 450px) {
  .navigation {
    gap: 15px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .kmoneta-tu-herramientas {
    font-size: var(--font-size-11xl);
  }
  .empieza-a-utilizar {
    font-size: var(--font-size-lg);
  }
  .hero-button,
  .hero-button-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hero {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
  .k-moneta-ofrece,
  .k-moneta-simplifica {
    font-size: var(--font-size-lg);
  }
  .k-moneta-simplifica-la-gesti-parent {
    gap: 49px;
  }
  .features {
    padding-bottom: 84px;
    box-sizing: border-box;
  }
  .basic-3 {
    font-size: var(--font-size-8xl);
  }
  .funciones-basicas,
  .inventario-basico-limitado {
    font-size: var(--font-size-xl);
  }
  .plan-items {
    gap: 52px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .plans-container {
    flex: 1;
  }
  .plus6 {
    font-size: var(--font-size-8xl);
  }
  .funciones-avanzadas,
  .inventario-extendido-cantidad,
  .inventario-plus-capacidad,
  .todas-las-funciones {
    font-size: var(--font-size-xl);
  }
  .premium-features {
    gap: 37px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .premiun12 {
    font-size: var(--font-size-8xl);
  }
  .premium-feature-name-container {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .premium-plan {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }
  .contactanos1 {
    font-size: var(--font-size-8xl);
  }
  .si-necesitas-realizar-container {
    font-size: var(--font-size-lg);
  }
  .contact-content {
    gap: var(--gap-lgi);
  }
  .contactanos2,
  .inicio1,
  .precios1,
  .producto1 {
    font-size: var(--font-size-lg);
  }
  .footer-navigation {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-13xl);
    padding-bottom: 316px;
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: 18px;
  }
}
